@model IEnumerable<EngsVirkeri.Models.Product>
@inject SignInManager<ApplicationUser> signInManager
@inject EngsVirkeriContext context

@{
    ViewData["Title"] = "Index";

}

<h1 class="text-center">Våra produkter</h1>
@if(signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <p class="text-center">
        <a asp-action="Create" type="button" class="btn btn-secondary">Create New</a>
    </p>
}

<div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="card products">
            @if(context.Images != null)
            {
                foreach (var image in context.Images)
                {
                    if(image.ProductId == item.Id)
                    {
                        @*<div class="card-img" style="background-image: url('@Url.Content(context.Images.FirstOrDefault(i => i.Product.Id == item.Id).Path)')"></div>*@
                        <div class="card-img" style="background-image: url('@Url.Content(image.Path)')"></div>

                        
                    }
                }
                
            }
            <div class="card-body">
                <h4 class="card-title">@Html.DisplayFor(modelItem => item.Title)</h4>
                <p class="card-text">@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(modelItem => item.Description)</p>
                <p class="card-text">@Html.DisplayNameFor(model => model.Price): @Html.DisplayFor(modelItem => item.Price)</p>
                <p class="card-text">@Html.DisplayNameFor(model => model.InStock): @Html.DisplayFor(modelItem => item.InStock)</p>
                <div class="card-footer">
                    @if(signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <a class="btn btn-primary pr-2" asp-action="Edit" asp-route-id="@item.Id">Ändra</a>
                        <a class="btn btn-success pr-2" asp-action="Details" asp-route-id="@item.Id">Detaljer</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Radera</a>
                    }
                    else
                    {
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Detaljer</a>
                    }
                </div>
            </div>
        </div>
    }
</div>




